$break-small:       375px;
$break-smallish:    576px;
$break-medium:      768px;
$break-large:       992px;
$break-xl:          1200px;
$center:            0 auto;

.footer {


    &__main {
        h2 {
            text-align: center;
        }
        ul {
            list-style: none;
        }

        flex-direction: column;

        @media screen and (min-width: $break-large) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        .events {

            @media screen and (min-width: $break-large) {
                width: 60%;
            }

            ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                max-width: 100%;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
    
                @media screen and (min-width: $break-smallish) {
                }

                @media screen and (min-width: $break-medium) {
                    flex-direction: row;
                    align-items: unset;
                }
    
                @media screen and (min-width: $break-large) {
                }
    
                .event-box {
                    display: flex;
                    margin: 10px;
                    width: 380px;
                    padding: 25px;
                    flex-direction: column;
                    align-items: center;                    
                    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.09);
                    background-color: white;
                    height: 350px;
    
                    @media screen and (min-width: $break-smallish) {
                        height: auto;
                    }
                    @media screen and (min-width: $break-large) {
                        width: 400px;
                        height: auto;
                    }
                    
                    .event-box-excerpt {
                        text-align: center;
                    }
    
                    li {
                        margin-bottom: 12px;
                        text-align: center;
                        font-size: 20px;
                        line-height: 1.5;
                    }
                    
                    .read-more {
                        margin-top: auto;
                    }
    
                }
    
            }


        }

        .google-location {
            display: flex;
            justify-content: center;

            @media screen and (max-width: $break-smallish) {
                
                flex-direction: column;
                align-items: center;

                .quick-links {
                    columns: 2;
                    margin: 0;
                    padding: 0;
                }

            }

            @media screen and (max-width: $break-large) {
                margin-top: 4em;
            }

            @media screen and (min-width: $break-large) {
                flex-direction: column;;
            }

            @media screen and (min-width: $break-xl) {
                justify-content: 0;
            }



        }


    }

    &__view-more {
        text-align: center;

        .view-more-button {
            -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
            -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
            box-shadow:inset 0px 1px 0px 0px #ffffff;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
            background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
            background-color:#f9f9f9;
            -moz-border-radius:6px;
            -webkit-border-radius:6px;
            border-radius:6px;
            border:1px solid #dcdcdc;
            display:inline-block;
            cursor:pointer;
            color:#666666;
            font-family:Arial;
            font-size:15px;
            font-weight:bold;
            padding:6px 24px;
            text-decoration:none;
            text-shadow:0px 1px 0px #ffffff;
        }
        
    }


}