$break-small:       375px;
$break-smallish:    576px;
$break-medium:      768px;
$break-large:       992px;
$break-xl:          1200px;
$center:            0 auto;

.header {

   position: relative;

    &__nav {
        position: absolute;
        z-index: 100;
        width: 100%;
        background: rgba(0, 0, 255, 0.137);
        display: flex;
        justify-content: space-between;
        top: 0;
        left: 0;
    }

}


.custom-header {


}

.navigation {

    ul {
       position: absolute;
    }

}