$break-small:       375px;
$break-smallish:    576px;
$break-medium:      768px;
$break-large:       992px;
$break-xl:          1200px;
$center:            0 auto;

.header {

    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;

    &__nav {
        display: flex;
        justify-content: space-between;
    }

}


.custom-header {


}

.navigation {

}