$break-small:       375px;
$break-smallish:    576px;
$break-medium:      768px;
$break-large:       992px;
$break-xl:          1200px;
$center:            0 auto;

.header {

    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        height: 6.25rem;
        background-color: rgba(236, 236, 236, 0.315);
    }

}


.custom-header {


}

.navigation {
    
    display: flex;
    align-items: center;

    &__items {
        position: absolute;
        right: 10px;
        text-align: right;
    }

    

}