h1, h2, h3, h4, h5, h6 {
	clear: both;
}


////////////////////////////////////////
// ==== POST SINGLE PAGE STYLES ==== //
///////////////////////////////////////

$pgrmHeadingColor: #fff;
$pgrmName: #fcb900;


.postHeading {
	&__title {
		font-size: 3em;
	}
}

.program-headings {
	color: $pgrmHeadingColor;
}

h3 {
	color: $pgrmHeadingColor;
}

.heading-secondary {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 1rem;
	color: $pgrmName;

	@media (min-width: 568px) {
		font-size: 40px;
	}
}