.programs {

    &__youth {

    }


    &__biblestudy {

    }
}



// FOR SINGLE PROGRAM

.program {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    @include center-container(1300px);

    p {
        font-size: 18px;

        @media screen and (min-width: 575px){
            font-size: 20px;
        }
    }



    &__img {
        flex: 1 0 100%;
        @media (min-width: 568px) {
            flex: 1 0 60%;
        }

        & img {
            width: 100%;
            height: 100%;
            @media screen and (min-width: 600px){
                box-shadow: 7px 7px 5px 3px #0000008f;
            }
        }
    }

    &__datetime {
        flex: 1 0 40%;
        align-self: center;
        margin: 2em 0px;
        @media screen and (min-width: 600px){
            padding: 0 2em;
            margin: 0;
        }
    }

    &__date,
    &__time {
        margin: 10px 0;
    }

    &__files {

        &-download {
            padding: 5px 10px;
            border-radius: 4px;
            color: #fff;
            background-color: #32373c;
        }
    }

    &__content {
        flex: 1 0 100%;
        
        @media (min-width: 568px) {
            padding: 0;
            margin-top: 2em;
            
            h3 {
                font-size: 28px;
            }
        }
         


    }

}