$break-xs:      375px;
$break-sm: 		576px;
$break-med:     768px;
$break-lg:      992px;
$break-xl:      1200px;

.wpfc-sermon-container {

    #wpfc_sermon_sorting {
        margin: 20px 0 20px 0;
        justify-content: center;

        select {
          height: 40px;
          border-radius: 4px;
        }

    } // end wpfc_sermon_sorting

    .wpfc-sermon-image-img {
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .wpfc-sermon-title a {
        text-decoration: none;
        color: rgb(35, 35, 35);
    }

    .wpfc-sermon-description {
        margin: 10px 0;
    }

    .wpfc-sermon-footer {
        background-color: #f8f8f8;
        padding: 10px;
        box-shadow: 0px 0px 6px 3px rgba(201, 201, 201, 0.4);
        margin-top: 0;
        border-top: none;
    }

    .wpfc-sermon-main a {
        text-decoration: none;
        font-style: italic;
        color: #334c5a;
    }

    article {
        max-width: 450px;
        margin: 30px auto 0 auto;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #334c5a;

        .wpfc-sermon-single-header {
            padding: 10px;
        }

        .wpfc-sermon-single-title {
            text-align: left;
            color: #fff;
        }

        .wpfc-sermon-single-image img {
            height: 120px;
            margin: 0 auto;
            display: block;
        }

        .wpfc-sermon-single-meta {
            margin: 8px -8px 0 -8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .wpfc-sermon-title-text {
            font-size: 2em;
        }

        .wpfc-sermon-title-text:hover {
            color: #e0b377;
        }

        ..wpfc-sermon-meta-item.wpfc-sermon-meta-date {
            font-size: 1em;
        }

        .wpfc-sermon-single-description {
            margin-top: 24px;
            color: white;
        }

        .wpfc-sermon-single-meta-item {
            font-style: italic;
            margin-bottom: 10px;
            color: #edecec;
        }

        .wpfc-sermon-single-meta-item a {
            text-decoration: none;
            color: #ffd391;
            font-weight: bold;
        }

        .wpfc-sermon-single-meta-item a:hover {
            color: rgb(133, 133, 133);
        }

        .wpfc-sermon-single-navigation {
            grid-template-columns: 30% 30%;
            justify-content: space-between;
        }

        .previous-sermon,
        .next-sermon {
            padding: 10px;
            background-color: #4c6477;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            color: #e0b377;
            font-weight: bold;
        }

        .previous-sermon:hover,
        .next-sermon:hover {
            background-color: #3c5a69;
            transition: 0.2s;
            box-shadow: 0 0 7px 3px #0c0c0c66;
        }

    }

    @media screen and (min-width: $break-med) {

        article {
            max-width: 800px;
            margin: 50px auto;
            padding: 30px;
            box-shadow: 0 0 9px 5px rgba(35, 35, 35, 0.52);
        }
    }



}
