$contentbgcolor: #0c2e44;
$tablet: 600px;
$desktop: 960px;
$pagecustomwidth: 1240px;

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.pagecustomwidth {
	max-width: $pagecustomwidth;
	margin: 0 auto;
	padding: 20px;
}

.ccontent {
	background-color: $contentbgcolor;
}





/*--------------------------------------------------------------
POSTS AND PAGES SCSS
--------------------------------------------------------------*/
$break-xs:      375px;
$break-sm: 		576px;
$break-med:     768px;
$break-lg:      992px;
$break-xl:      1200px;


.postHeading {

	&__container {
		text-align: center;
		margin: 3em 0em;
	}

	&__title {
		font-size: 2em;
		text-align: center;
		margin: 0;
	}


}

.single-post {

	header#masthead {
		display: none;
	}
	#randombibleversewidget-3 {
		display: none;
	}

}

.post {
	max-width: 960px;
	margin: 0 auto;

	.contentPost {

		padding: 10px;

		p {
			font-size: 18px;
		}

		@media screen and (min-width: $break-med) {
			p {
				font-size: 20px;
			}
		}

		.weeklyEvents__Section {
			margin-top: 10%;
			padding: 20px;
			box-shadow: 0 0 10px 4px rgba(145, 144, 144, 0.4);
			background-color: #fff;
		}

		
		.weeklyEvents__Breakfast {
			align-items: flex-start;
			
			@media screen and (min-width: $break-med) {
				h2 {
					font-size: 32px;
				}
				grid-template-columns: auto 56% !important;
			}
			
			.wp-block-media-text__content {
				align-items: flex-start;
			}
			
			.wp-block-media-text__media img {
				
				width: 100%;
				height: auto;
	
				@media screen and (min-width: $break-med) {
					width: 500px;
					height: 350px;
				}
			}

		}


	}



} 

@media screen and (min-width: $tablet) {

	/*--------------------------------------------------------------
PROGRAMS PAGE
--------------------------------------------------------------*/

		.program-body-content {
			display: flex;
		}

		.custom-figure-width {
			width: 50%;
		}

		.custom-program-info {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.custom-row-reverse {
			flex-flow: row-reverse;
		}


}

