$contentbgcolor: #0c2e44;
$tablet: 600px;
$desktop: 960px;
$pagecustomwidth: 1240px;

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.pagecustomwidth {
	max-width: $pagecustomwidth;
	margin: 0 auto;
	padding: 20px;
}

.ccontent {
	background-color: $contentbgcolor;
}

// .post .entry-utility {
// 	display: none;
// }




/*--------------------------------------------------------------
POSTS AND PAGES SCSS
--------------------------------------------------------------*/
$break-xs:      375px;
$break-sm: 		576px;
$break-med:     768px;
$break-lg:      992px;
$break-xl:      1200px;


.postHeading {

	&__container {
		text-align: center;
		margin: 3em 0em;
	}

	&__title {
		font-size: 2em;
		text-align: center;
		margin: 0;
	}


}

.single-post {

	header#masthead {
		display: none;
	}
	#randombibleversewidget-3 {
		display: none;
	}

}

.post-thumbnail {
	img {
		height: auto;
		margin: 0 auto;
		display: block;

		@media screen and (min-width: 1940px) {
			max-width: 80%;
			height: 800px;
		}
	}
}

.post {
	margin: 0 auto;

	.contentPost {

		padding: 10px;
		max-width: 1200px;
		margin: 0 auto;

		@media screen and (min-width: $break-med) {
			p {
				font-size: 20px;
			}
		}

		.weeklyEvents__Container {
			display: flex;
			justify-content: center;
			flex-direction: column;
			width: 100%;
			
			h3 {
				font-size: 28px;
			}

			h4 {
				color: darksalmon;
			}

			@media screen and (min-width: $break-lg) {
				flex-direction: row;
				h3 {
					font-size: 20px
				}
			}

			.wp-block-column {
				margin: 10px;
				text-align: left;
				background-color: #2e485c;

				@media screen and (max-width: $break-lg) {
					padding: 20px;
				}

				p {
					font-size: 20px;
				}

				@media screen and (min-width: $break-lg) {
					text-align: center;
					p {
						font-size: 16px;
					}
				}

				h3 {
					text-align: center;
					color: #d49a59;
					border-bottom: solid 5px #dfe9f8;

					@media screen and (min-width: $break-lg) {
						width: 70%;
						margin: 0 auto;
						padding-top: 20px;
					}
				}


				.zion_event {
					color: #f3da4d;
				}
			}

		}

		.weeklyEvents__Section {
			margin-top: 5%;
			padding: 20px;
			box-shadow: 0 0 10px 4px rgba(145, 144, 144, 0.4);
			background-color: #fff;
			
			ul {
				font-size: 20px;
			}
		}
		
		.weeklyEvents__Breakfast {
			background-color: #172a42;
			color: whitesmoke;

			
			h2 {
				border-bottom: 8px solid #dfe9f8;
				color: #d49a59;
				font-size: 32px;

				@media screen and (min-width: $break-lg) {
					width: 60%;
				}
			}

			img {
				width: 100%;
				height: auto;
	
				@media screen and (min-width: $break-lg) {
					width: 500px;
					height: 350px;
				}
			}

			
			@media screen and (min-width: $break-med) {
				h2 {
					font-size: 32px;
				}
				img {
					box-shadow: 0px 8px 3px 0px #ab7334;
				}
				grid-template-columns: auto 45% !important;
			}
			
			.wp-block-media-text__content {
				align-items: flex-start;
			}
			

		}

		.weeklyEvents__Summer {
			align-items: center;
		}


	}



} 

@media screen and (min-width: $tablet) {

	/*--------------------------------------------------------------
PROGRAMS PAGE
--------------------------------------------------------------*/

		.program-body-content {
			display: flex;
		}

		.custom-figure-width {
			width: 50%;
		}

		.custom-program-info {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.custom-row-reverse {
			flex-flow: row-reverse;
		}


}

