$contentbgcolor: #0c2e44;
$tablet: 600px;
$desktop: 960px;
$pagecustomwidth: 1240px;

.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.pagecustomwidth {
	max-width: $pagecustomwidth;
	margin: 0 auto;
	padding: 20px;
}



.ccontent {
	background-color: $contentbgcolor;
}

// .post .entry-utility {
// 	display: none;
// }




/*--------------------------------------------------------------
POSTS AND PAGES SCSS
--------------------------------------------------------------*/
$break-xs:      375px;
$break-sm: 		576px;
$break-med:     768px;
$break-lg:      992px;
$break-xl:      1200px;

.entry-utility {
	display: none;
}

.type-post {
	background-color: #0c2e44;
}


.postHeading {
	position: absolute;
	z-index: 99;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 30%;
	color: #eaeaea;
	font-size: 1em;
	transition: 0.2s;

	@media screen and (max-width: $break-sm) {
		top: 15%;
		width: 100%;
	}

	@media screen and (min-width: $break-lg) {
		font-size: 2em;
		width: 100%;
	}


	&__container {
		text-align: center;
		background-color: rgba(12, 46, 68, 0.6);
		color: #f6f6f6;
		padding: 30px;
		width: 100%;
		margin: 0 auto;
	}

	&__title {
		font-size: 2em;
		text-align: center;
		margin: 0;
		display: block !important;

		@media screen and (max-width: 600px){
			font-size: 1.5em;
		}

	}

	&__postedBy {
		display: none;
	}



}

.single-post {

	header#masthead {
		display: none;
	}
	#randombibleversewidget-3 {
		display: none;
	}

}

.post-thumbnail {

	position: relative;

	img {
		height: 700px;
		margin: 0 auto;
		display: block;

		@media screen and (max-width: 600px) {
			height: 300px;
		}

		@media screen and (min-width: 1940px) {
			max-width: 80%;
			height: 800px;
		}

	}

}


.post {
	margin: 0 auto;
	color: white;

	.contentPost {

		margin: 0 auto;

		@media screen and (min-width: $break-med) {
			p {
				font-size: 20px;
			}
		}

		.post-noImage {
			width: 100%;
			@media screen and (max-width: $break-sm){
				height: 250px;
			}
			@media screen and (min-width: 600px){
				height: 660px;
			}

		}

		.weeklyEvents__Container {
			display: flex;
			justify-content: center;
			flex-direction: column;
			width: 100%;
			margin: 20px

			h3 {
				font-size: 28px;
			}

			@media screen and (min-width: $break-lg) {
				flex-direction: row;
				h3 {
					font-size: 20px
				}
			}

			.wp-block-column {
				margin: 10px;
				text-align: left;
				background-color: #2e485c;

				@media screen and (max-width: $break-lg) {
					padding: 20px;
				}

				p {
					font-size: 20px;
				}

				@media screen and (min-width: $break-lg) {
					text-align: center;
					p {
						font-size: 16px;
					}
				}

				h3 {
					text-align: center;
					border-bottom: solid 5px #fcb900;

					@media screen and (min-width: $break-lg) {
						width: 70%;
						margin: 0 auto;
						padding-top: 20px;
					}
				}


				.zion_event {

				}
			}

		}

		.weeklyEvents__Section {
			margin-top: 10%;
			padding: 20px;
			box-shadow: 0 0 10px 4px rgba(145, 144, 144, 0.4);
			background-color: #fff;

			ul {
				font-size: 20px;
			}

			@media screen and (min-width: $break-med) {
				margin-top: 5%;
				max-width: 1200px;
				margin-left: auto;
				margin-right: auto;
			}

		}

		.weeklyEvents__Breakfast {
			background-color: #232323;
			color: whitesmoke;
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
			box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);


			h2 {
				border-bottom: 8px solid #fcb900;
				font-size: 32px;

				@media screen and (min-width: $break-lg) {
					width: 60%;
				}
			}

			img {
				width: 100%;
				height: auto;

				@media screen and (min-width: $break-lg) {
					width: 500px;
					height: 350px;
				}
			}


			@media screen and (min-width: $break-med) {
				h2 {
					font-size: 32px;
				}
				img {
					box-shadow: 0px 8px 3px 0px #ab7334;
				}
				grid-template-columns: auto 45% !important;
			}

			.wp-block-media-text__content {
				align-items: flex-start;
			}


		}

		.weeklyEvents__Summer {
			align-items: center;
		}

		.wp-block-latest-posts.has-dates.community__post {
			display: grid;
			grid-template-columns: 1fr 1fr;
			list-style: none;
			margin: 0;
			grid-column-gap: 20px;
			padding: 20px;
			max-width: 1200px;
			margin: auto;


			@media screen and (max-width: $break-med) {
				display: block;
				list-style: none;
			}


			li {
				background-color: cornsilk;
				margin: 20px 0;
				font-size: 1.5em;
				padding: 20px;
				border-left: 8px groove #e99539;

				.wp-block-latest-posts__post-date {
					font-size: 20px;
				}

			}

			a {
				text-decoration: none;
				color: #4b4b4b;
			}
			a:hover {
				color: #fcb900;
			}

		}


	}

}



// NAVIGATION LINKS AT BOTTOM OF POSTS PAGE

.site-main .post-navigation {
	overflow: hidden;
	background-color: #0c2e44;
	margin: 0;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
	width: none;
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
	width: none;
}

.post-navigation .nav-previous, .post-navigation .nav-next {
	margin: 3em 1em;
	a {
		background-color: #586d7b;
		color: #e1e1e1;
		text-decoration: none;
		padding: 15px;
		border-radius: 5px;
		display: flex;
		justify-content: center;

	}

	a:hover {
		background-color: #39576e;
		border-bottom: solid 4px #c3c3c3;
		color: #e1e1e1;
		transition: 0.1s;
	}
}




@media screen and (min-width: $tablet) {

	/*--------------------------------------------------------------
PROGRAMS PAGE
--------------------------------------------------------------*/

		.program-body-content {
			display: flex;
			justify-content: center;
		}

		.program-body-content:nth-child(even) {
			flex-direction: row-reverse;
		}

		.custom-figure-width {
			width: 50%;
		}

		.custom-program-info {
			width: 30%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.custom-row-reverse {
			flex-flow: row-reverse;
		}

		/*--------------------------------------------------------------
EVENTS
--------------------------------------------------------------*/

		.event-program {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			&__info {
				width: 50%;
				display: flex;
				flex-direction: column;
				text-align: center;
				justify-content: center;
			}


		}

		.event-program:nth-child(odd) {
			flex-direction: row-reverse;
		}




}


/*--------------------------------------------------------------
WEEKLY EVENTS POST
--------------------------------------------------------------*/
.event-post {
	max-width: 1200px;
	margin: 20px auto;
	background-color: #1d3244;
	color: whitesmoke;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	@media screen and (min-width: $break-med){
		margin: 60px auto;
	}

	p, span {
		padding: 0;
	}
	p {
		margin-bottom: 1em;
	}
	span {
		color: burlywood;
	}
	&__container {
		padding: 20px;

		@media screen and (min-width: $break-med){
			display: grid;
		    grid-template-columns: 60% 40%;
			padding: 0px;

		}

		.event-content {

			@media screen and (min-width: $break-med){
				padding: 20px;
				align-self: center;
				justify-self: center;
				width: 80%;
			}

			h2 {
				font-size: 2em;
				margin: 20px 0;
				text-align: center;
				color: #fcb900;

				@media screen and (min-width: $break-med){
					text-align: left;
				}
			}

			.event-description {
				font-size: 1.2em;
				@media screen and (min-width: $break-med){
					font-size: 1.5em
				}
				margin-top: 10px;
			}

			.event-dateTime {

				p {
					font-size: 1.2em;
					font-style: italic;
					margin: 20px 0;
				}
				span {
					font-weight: bold;
				}
				.date {

				}
				.time {

				}

			}


		}

		.event-image {
			height: 100%;
			width: 100%;
			img {
				display: block;
			    height: 100%;
			    width: 100%;
			}
		}

	}


}
